app/redis.conf
@dev-env/1.md
login_schema.sql
api-routes.md
README.md
README.md
.gitignore
@DOCS/BACKEND_RESPONSES.md
.gitignore
@DOCS
app/.env_old
node_modules/
app-nest/node_modules/
app-nest/dist/
app-nest/coverage/
bkp
.env
.env.local
.env.prod
.claude